## Shortcuts of Notebook
- ESC + M (CONVERT SELECTED CELL INTO MARKDOWN)
- ESC + A (CREATE ABOVE CELL)
- ESC + B (CREATE BELOW CELL)
- ESC + DD (TO DELETE ANY SELECTED CELL)
- ESC + Y (CONVERT ANY CELL INTO CODE)
- CTRL + ENTER (EXECUTE BUT STAY IN THAT CELL)
- CTRL + SHIFT + H (SHOW ALL THE COMMANDS OF NOTEBOOK)
- ESC + 1,2,3 (TO MAKE CELL HEADINGS)

In [8]:
age = int(input("Enter your age"))

Enter your age 20

In [10]:
if age >= 18:
    print("you are eligible for vote")
else:
    print("you are not eligible")

you are eligible for vote

In [14]:
years = int(input("Enter the service years: "))
if years > 5:
    salary = int(input("Enter salary: "))
    print("Your bonus will be ", 0.5 * salary)
else:
    print("No increment")

Enter the service years:  6
Enter salary:  15000

Your bonus will be  7500.0

In [16]:
num = int(input("Enter num"))

Enter num 10

In [22]:
if num % 5 == 0:
    print("hello")
else:
    print("bye")

hello

### Tuple

- start with ()
- immutable,can't change
- Ordered elements

In [4]:
first_tuple = (1,2,3,4)
first_tuple

(1, 2, 3, 4)

In [6]:
multiple_dataType = (1,"tuple",0.32)
multiple_dataType

(1, 'tuple', 0.32)

In [8]:
print(type(multiple_dataType))

<class 'tuple'>

In [16]:
single_tuple = (1)
print(type(single_tuple))

<class 'int'>

In [18]:
single_tuple = (1,)
print(type(single_tuple))

<class 'tuple'>

In [20]:
new_tuple = ("Qasim","Ali","Uzair","Hamza","Faisal")

In [22]:
new_tuple[2]

'Uzair'

In [28]:
new_tuple[:5]

('Qasim', 'Ali', 'Uzair', 'Hamza', 'Faisal')

In [30]:
import sys

In [38]:
# tuple is more efficient in terms of size

new_tuple = ("Qasim","Ali","Uzair","Hamza","Faisal")
new_list =  ["Qasim","Ali","Uzair","Hamza","Faisal"]
print(sys.getsizeof(new_tuple))
print(sys.getsizeof(new_list))

80
104

In [40]:
new_tuple.count("Qasim")

1

In [42]:
new_tuple.index("Faisal")

4

In [44]:
for variables in iterator:
    code block

In [48]:
new_list =  ["Qasim","Ali","Uzair","Hamza","Faisal"]
for value in new_list:
    print(value)
    break

Qasim

In [60]:
new_list =  ["Qasim","Ali","Uzair","Hamza","Faisal"]
for value in range(len(new_list)):
    print(value,new_list[value])
    time.sleep(2)
    print("sleeping")

0 Qasim
sleeping
1 Ali
sleeping
2 Uzair
sleeping
3 Hamza
sleeping
4 Faisal
sleeping

In [58]:
import time

In [62]:
var = "SMITCDECLASS"
for i in var:
    print(i)

S
M
I
T
C
D
E
C
L
A
S
S

In [1]:
names_list = []

for i in range(5):
    value = input(f"Enter {i+1} Name: ")
    names_list.append(value)

print(names_list)

Enter 1 Name:  ali
Enter 2 Name:  ahmed
Enter 3 Name:  hassan
Enter 4 Name:  abd
Enter 5 Name:  ahm

['ali', 'ahmed', 'hassan', 'abd', 'ahm']

In [15]:
# nested_list = [[1,2,3,4,5,6,7,8],[11,12,13,14,15],["mon","tues","wed","thurs","fri","sat","sun"]]

nested_list = [[1, 2, 3, 4, 5, 6, 7, 8], [11, 12, 13, 14, 15], ["mon", "tues", "wed", "thurs", "fri", "sat", "sun"]]

for i in range(len(nested_list)):  # Iterate over indices of nested_list
    for j in nested_list[i]:  # Iterate over elements of the sublist
        print(j)  # Print each element

1
2
3
4
5
6
7
8
11
12
13
14
15
mon
tues
wed
thurs
fri
sat
sun

In [33]:
rows = 5
for i in range(1, rows+1): 
    print('*' * i)

*
**
***
****
*****

In [37]:
rows = 4  
columns = 6  

for i in range(rows):  
    print('*' * columns)

******
******
******
******

In [38]:
customer1_info = {
    "f_name": "Ali",
    "l_name": "Ahmed",
    "address": "Abc"
}

customer2_info = {
    "f_name": "Sara",
    "l_name": "Khan",
    "address": "Xyz"
}

In [8]:
customer = {"customer1_info" : {"f_name": "Ali", "l_name": "Ahmed", "address": "Abc"},
            "customer2_info" : {"f_name": "Sara","l_name": "Khan", "address": "Xyz"}}

In [14]:
customer["customer1_info"]

{'f_name': 'Ali', 'l_name': 'Ahmed', 'address': 'Abc'}

In [16]:
customer

{'customer1_info': {'f_name': 'Ali', 'l_name': 'Ahmed', 'address': 'Abc'},
 'customer2_info': {'f_name': 'Sara', 'l_name': 'Khan', 'address': 'Xyz'}}

In [18]:
customer["customer2_info"]["Order_Price"] = 120

In [20]:
customer["customer2_info"]

{'f_name': 'Sara', 'l_name': 'Khan', 'address': 'Xyz', 'Order_Price': 120}

In [22]:
customer["customer2_info"]["address"]

'Xyz'

In [24]:
my_dict = {"name":"ahmed","age":19,"weight":19.5,"is_present": True}

In [28]:
my_dict

{'name': 'ahmed', 'age': 19, 'weight': 19.5, 'is_present': True}

In [30]:
my_dict = {True:"ali",False:"ahmed"}

In [32]:
my_dict[True]
customer1_info

'ali'

In [68]:
for key,value in customer1_info.items():
    print(key,"=>",value)

f_name => Ali
l_name => Ahmed
address => Abc

In [74]:
for value in customer1_info.values():
    print(value)

Ali
Ahmed
Abc

In [93]:
customers = {
    "names": ["John Doe", "Jane Smith", "Alice Brown"],
    "ages": [32, 28, 25],
    "emails": ["john.doe@example.com", "jane.smith@example.com", "alice.brown@example.com"],
    "purchases": [["Laptop", "Headphones"], ["Smartphone", "Charger"], ["Tablet", "Smartwatch"]],
}

In [103]:
first_customer = {}
for key,i in customers.items():
    first_customer[key] = customers[key][i]

print(first_customer)

TypeError: list indices must be integers or slices, not list

In [119]:
for index in range(3):
    print()
    for value in customers.values():
        print(value[index])

John Doe
32
john.doe@example.com
['Laptop', 'Headphones']

Jane Smith
28
jane.smith@example.com
['Smartphone', 'Charger']

Alice Brown
25
alice.brown@example.com
['Tablet', 'Smartwatch']

In [117]:
for index in range(len(next(iter(customers.values())))):
    print()
    for value in customers.values():
        print(value[index])

John Doe
32
john.doe@example.com
['Laptop', 'Headphones']

Jane Smith
28
jane.smith@example.com
['Smartphone', 'Charger']

Alice Brown
25
alice.brown@example.com
['Tablet', 'Smartwatch']

In [123]:
customers = [
    {"name": "Alice", "age": 30, "location": "New York"},
    {"name": "Bob", "age": 25, "location": "London"},
    {"name": "Charlie", "age": 35, "location": "Paris"}
]
customers

[{'name': 'Alice', 'age': 30, 'location': 'New York'},
 {'name': 'Bob', 'age': 25, 'location': 'London'},
 {'name': 'Charlie', 'age': 35, 'location': 'Paris'}]

In [129]:
customers.append({"name": "ali", "age": 35, "location": "pakistan"})

In [131]:
customers

[{'name': 'Alice', 'age': 30, 'location': 'New York'},
 {'name': 'Bob', 'age': 25, 'location': 'London'},
 {'name': 'Charlie', 'age': 35, 'location': 'Paris'},
 {'name': 'ali', 'age': 35, 'location': 'pakistan'}]

In [1]:
def greet_name():
    print("Welcome to Data Engineering Course")

In [5]:
greet_name()

Welcome to Data Engineering Course

In [7]:
def addition(num1,num2):
    sum = num1+num2
    print(sum)

In [9]:
addition(2,4)

6

In [11]:
def employee_salary(salary,bonus = 0.15):
    new_salary = salary + (salary*bonus)
    print(new_salary)

In [17]:
employee_salary(5000)

5750.0

In [36]:
def count_string():
    string = input("Enter string : ")
    print(string)

In [38]:
count_string()

Enter string :  Ali

Ali

In [42]:
def display_result(winner,score,*args):
    print("winner" + winner)

In [56]:
def Multiply_list(sample_list):
    value = 1
    for i in sample_list:
        value = value*i
    print(value)

In [58]:
Multiply_list([8,2,3,-1,7])

-336

In [50]:
def my_str(str):
    return str[::-1]
my_str("Ali")

'ilA'

In [4]:
clean_cities = ['karachi','lahore','Islamabad']

temp = True
while temp:
    city = input("Enter a city name : ")
    if city in clean_cities:
        print(f'{city} is a clean city')
        temp = False
    else:
        print(f'{city} is not clean city')

Enter a city name :  multan

multan is not clean city

Enter a city name :  Islamabad

Islamabad is a clean city

In [6]:
flag = True
sum = 0
while(flag):
    num = int(input("Enter the No : "))
    if(num != 0):
        sum +=num
    else:
        flag = False

print(sum)

Enter the No :  1
Enter the No :  2
Enter the No :  3
Enter the No :  0

6

In [8]:
while True:
    input_word = input("Enter a word")
    if input_word == input_word[::-1]:
        print(f'{input_word} is a palindrom')
        break
    else:
        continue

Enter a word ali
Enter a word azam
Enter a word civic

civic is a palindrom

In [60]:
with open(r"C:\Users\Administrator\Desktop\SMIT-Data-Engineering\Module 1\file_handle.txt",'a') as files:
    files.write('writing into file with append as input')

In [70]:
with open(r"C:\Users\Administrator\Desktop\SMIT-Data-Engineering\Module 1\file_handle.txt", 'a') as files:
    print('writing into file with a as input', file=files)

In [72]:
with open(r"C:\Users\Administrator\Desktop\SMIT-Data-Engineering\Module 1\file_handle.txt", 'r') as files:
    a = files.read()

In [74]:
print(a)

writing into file with append as inputwriting into file with a as input
writing into file with a as input
writing into file with a as input

In [1]:
def factorial(n):
    if n < 0:
        return "Factorial is not defined for negative numbers."
    result = 1
    while n > 1:
        result *= n
        n -= 1
    return result

In [3]:
factorial(5)

120