## Shortcuts of Notebook
- ESC + M (CONVERT SELECTED CELL INTO MARKDOWN)
- ESC + A (CREATE ABOVE CELL)
- ESC + B (CREATE BELOW CELL)
- ESC + DD (TO DELETE ANY SELECTED CELL)
- ESC + Y (CONVERT ANY CELL INTO CODE)
- CTRL + ENTER (EXECUTE BUT STAY IN THAT CELL)
- CTRL + SHIFT + H (SHOW ALL THE COMMANDS OF NOTEBOOK)
- ESC + 1,2,3 (TO MAKE CELL HEADINGS)

In [8]:
age = int(input("Enter your age"))

Enter your age 20

In [10]:
if age >= 18:
    print("you are eligible for vote")
else:
    print("you are not eligible")

you are eligible for vote

In [14]:
years = int(input("Enter the service years: "))
if years > 5:
    salary = int(input("Enter salary: "))
    print("Your bonus will be ", 0.5 * salary)
else:
    print("No increment")

Enter the service years:  6
Enter salary:  15000

Your bonus will be  7500.0

In [16]:
num = int(input("Enter num"))

Enter num 10

In [22]:
if num % 5 == 0:
    print("hello")
else:
    print("bye")

hello

### Tuple

- start with ()
- immutable,can't change
- Ordered elements

In [4]:
first_tuple = (1,2,3,4)
first_tuple

(1, 2, 3, 4)

In [6]:
multiple_dataType = (1,"tuple",0.32)
multiple_dataType

(1, 'tuple', 0.32)

In [8]:
print(type(multiple_dataType))

<class 'tuple'>

In [16]:
single_tuple = (1)
print(type(single_tuple))

<class 'int'>

In [18]:
single_tuple = (1,)
print(type(single_tuple))

<class 'tuple'>

In [20]:
new_tuple = ("Qasim","Ali","Uzair","Hamza","Faisal")

In [22]:
new_tuple[2]

'Uzair'

In [28]:
new_tuple[:5]

('Qasim', 'Ali', 'Uzair', 'Hamza', 'Faisal')

In [30]:
import sys

In [38]:
# tuple is more efficient in terms of size

new_tuple = ("Qasim","Ali","Uzair","Hamza","Faisal")
new_list =  ["Qasim","Ali","Uzair","Hamza","Faisal"]
print(sys.getsizeof(new_tuple))
print(sys.getsizeof(new_list))

80
104

In [40]:
new_tuple.count("Qasim")

1

In [42]:
new_tuple.index("Faisal")

4

In [44]:
for variables in iterator:
    code block

In [48]:
new_list =  ["Qasim","Ali","Uzair","Hamza","Faisal"]
for value in new_list:
    print(value)
    break

Qasim

In [60]:
new_list =  ["Qasim","Ali","Uzair","Hamza","Faisal"]
for value in range(len(new_list)):
    print(value,new_list[value])
    time.sleep(2)
    print("sleeping")

0 Qasim
sleeping
1 Ali
sleeping
2 Uzair
sleeping
3 Hamza
sleeping
4 Faisal
sleeping

In [58]:
import time

In [62]:
var = "SMITCDECLASS"
for i in var:
    print(i)

S
M
I
T
C
D
E
C
L
A
S
S

In [1]:
names_list = []

for i in range(5):
    value = input(f"Enter {i+1} Name: ")
    names_list.append(value)

print(names_list)

Enter 1 Name:  ali
Enter 2 Name:  ahmed
Enter 3 Name:  hassan
Enter 4 Name:  abd
Enter 5 Name:  ahm

['ali', 'ahmed', 'hassan', 'abd', 'ahm']

In [15]:
# nested_list = [[1,2,3,4,5,6,7,8],[11,12,13,14,15],["mon","tues","wed","thurs","fri","sat","sun"]]

nested_list = [[1, 2, 3, 4, 5, 6, 7, 8], [11, 12, 13, 14, 15], ["mon", "tues", "wed", "thurs", "fri", "sat", "sun"]]

for i in range(len(nested_list)):  # Iterate over indices of nested_list
    for j in nested_list[i]:  # Iterate over elements of the sublist
        print(j)  # Print each element

1
2
3
4
5
6
7
8
11
12
13
14
15
mon
tues
wed
thurs
fri
sat
sun

In [33]:
rows = 5
for i in range(1, rows+1): 
    print('*' * i)

*
**
***
****
*****

In [37]:
rows = 4  
columns = 6  

for i in range(rows):  
    print('*' * columns)

******
******
******
******